@mixin sizes($width, $height) {
  height: $height;
  width: $width;
}

.About__tittle-h1 {
  text-align: center;
  padding: 20px 0;
  font-weight: 800;
}

.About__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.About__img--modifier {
  width: $width-img;
  height: $hight-img;
}

.About__history {
  text-align: center;
  margin: 10px 500px;
}

.About_compromise_img {
  @include sizes(400px, 300px);
}

.about__container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.Value {
  margin-top: 40px;
}

.navbar > .container-fluid {
  background-color: #ff9000 !important;
}

@media (max-width: 890px) {
  .About__img--modifier {
    width: 100%;
    height: auto;
  }
  .About__history {
    margin: 10px 20px;
  }
}

@media (max-width: 570px) {
  .About_compromise_img {
    height: 300px;
  }
  .About_compromise__responsive {
    flex-direction: column-reverse;
    display: flex;
  }
  .Value {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Value__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
