.teacher__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;
    border: 1px solid black;
    height: 400px;
    width: 100%;
    margin: 20px;
}