/* TIPOGRAFIAS */


/* SIZE TIPOGRAFIAS */


/* ICONOS */

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbar>.container-fluid {
    background-color: #FF9000 !important;
}

.footer {
    background-color: #F2F7FD;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
}

.list__footer__p-modifier {
    font-size: 20px;
}

.list__footer__li-modifier {
    list-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
}

.list__footer__a-modifier {
    text-decoration: none;
    color: #252b2f;
}

.list-footer a:hover {
    text-decoration: underline;
}

.list__footer__img-modifier {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

@media (max-width: 768px) {
    .footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .list__footer {
        padding-left: 10px;
        padding-right: 10px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.row {
    margin-right: 0;
}

.email_img {
    width: 100%;
}

.icons__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 100px;
}

.icons__list_a {
    text-decoration: none;
    color: gray;
    padding-bottom: 10px;
}

.icons__list__redsocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 10px;
}

.icons__list_logo_Redes {
    color: gray;
    font-size: 35px;
    margin: 0 10px;
}

.layout {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 20px;
}

.layout__infoteache__video-modifier {
    width: 100%;
    height: 500px;
}

.layout__profile {
    border-radius: 8px;
    background: #ffffff;
    -webkit-box-shadow: 8px 8px 55px #d9d9d9, -8px -8px 55px #ffffff;
    box-shadow: 8px 8px 55px #d9d9d9, -8px -8px 55px #ffffff;
}

.layaout__datachecher__layout__img-modifier {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
}

.layaout__datachecher__h1-modifier {
    font-size: 30px;
    font-weight: 600;
}

.layaout__datachecher__h2-modifier {
    font-size: 14px;
}

.scoreteacher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.scoreteacher__icon--modifier {
    color: #FEC400;
    margin-top: 28px;
    margin-bottom: 2px;
}

.scoreteacher__number--modifier {
    margin-top: 26px;
    margin-bottom: 2px;
    padding-left: 9px;
}

.layout__sepator {
    border: 1px solid #10101030;
    margin: 10px;
}

.card {
    margin-bottom: 15px;
    margin-top: 15px;
}

.card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.clases__titulo-Modifier {
    font-size: 25px;
    font-size: 500;
}

.curriculum {
    margin: 30px 0;
    border-radius: 8px;
    background: #ffffff;
    -webkit-box-shadow: 8px 8px 55px #d9d9d9, -8px -8px 55px #ffffff;
    box-shadow: 8px 8px 55px #d9d9d9, -8px -8px 55px #ffffff;
    padding: 40px;
}

.lessons__box {
    padding: 40px;
    margin: 30px 0;
    border-radius: 8px;
    background: #ffffff;
    -webkit-box-shadow: 8px 8px 55px #d9d9d9, -8px -8px 55px #ffffff;
    box-shadow: 8px 8px 55px #d9d9d9, -8px -8px 55px #ffffff;
}

.Comentary {
    margin-top: 20px;
    background: #ffffff;
    -webkit-box-shadow: 8px 8px 55px #d9d9d9, -8px -8px 55px #ffffff;
    box-shadow: 8px 8px 55px #d9d9d9, -8px -8px 55px #ffffff;
    padding: 30px;
}

.personaldata {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.Comentary__grid {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}

.Comentary__layout {
    width: 350px;
    height: 140px;
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.37);
    box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
}

.personaldata img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.Reserva {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    height: 350px;
    border-radius: 8px;
    background: #ffffff;
    -webkit-box-shadow: 8px 8px 55px #d9d9d9, -8px -8px 55px #ffffff;
    box-shadow: 8px 8px 55px #d9d9d9, -8px -8px 55px #ffffff;
}

.Reserva__precios_layout {
    padding-bottom: 10px;
    padding-top: 10px;
}

.boton__ML {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mercadopago-button {
    height: 40px;
    font-weight: 300px;
    font-family: "Poppins", sans-serif;
    background-color: #00b1ff !important;
    width: 100%;
    border-radius: 1px;
    background: linear-gradient(145deg, #d8e8f2, #b6c3cb);
    -webkit-box-shadow: 5px 5px 9px #b8c5ce, -5px -5px 9px #dcedf6;
    box-shadow: 5px 5px 9px #b8c5ce, -5px -5px 9px #dcedf6;
}

.Reserva__divider {
    border: 1px solid gray;
}

.Reserva__contact {
    text-align: center;
    padding: 20px;
}

.Reserva__contact_boton {
    display: block;
    font-weight: 400;
    padding: 20px;
    text-decoration: none;
    color: white;
    background: #48af41 !important;
    border-radius: 1px;
    border-radius: 1px;
    background: linear-gradient(145deg, #d8e8f2, #b6c3cb);
    -webkit-box-shadow: 5px 5px 9px #b8c5ce, -5px -5px 9px #dcedf6;
    box-shadow: 5px 5px 9px #b8c5ce, -5px -5px 9px #dcedf6;
}


/* Responsive */

@media (max-width: 890px) {
    .layout {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .Comentary__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .Comentary__layout {
        width: 100%;
    }
    .Reserva {
        position: relative;
        top: 0;
        width: 100%;
        height: 350px;
    }
}

@media (max-width: 520px) {
    .layout__infoteache__video-modifier {
        height: 240px;
    }
    .layout__scoreteacher {
        margin-left: 132px;
    }
    .layout__dateacher_info {
        margin-left: -9px;
    }
    .Reserva__contact_boton {
        width: 200px;
        height: 70px;
        display: inline-block;
        padding: 10px;
    }
    .card-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .curriculum {
        padding: 10px;
    }
}


/*# sourceMappingURL=style.css.map */